
<div class="comments">
  {{#each this}}
    <div class="card">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
                {{comment_text}}
            </div>
            <div class="meta" id="comment-font">
               comment by {{user.username}} on {{format_date created_at}}
            </div>
        </section>
    </div>
  {{/each}}
</div>
