


<div class="split dash-left">

 {{#if posts.length}}


  <h2 id="your-posts">Your Posts</h2>
  {{#each posts as |post|}}
  {{> dashboard-postinfo post}}
  {{/each}}



{{/if}}

<button type="submit" class="btn"><a class="link" href="/dashboard/new">Create New Post</a></button>



</div>

<div class="split dash-right">


  </div>

<script src="/javascript/add-post.js"></script>

