
<div class="split dash-left">

<div class="card">

  <div class="card-header">Create New Post


  </div>
  <form class="card-body new-post-form" id="new-post-form">

    <label for="post-title" class="form-label">Title</label>
    <input type="text" id="post-title" name="post-title" class="form-input" />


    <label class="form-label" for="content">Content</label>
    <input id="content" name="content" class="form-input" />

    <button type="submit" class="btn">Create</button>
  </form>
</div>
  <a href="https://namelix.com/" target="_blank">Need a Brand Name Idea?</a>
</div>

<div class="splt dash-right">
  </div>


<script src="/javascript/add-post.js"></script>